@model IEnumerable<TasksList>

@{
    ViewData["Title"] = "Tasks";
    var list = Model.ToList();
    var path = Context.Request.Path.Value.ToString().ToLower();
    bool myList = path.IndexOf("member") == -1;
    bool searchResult = path.IndexOf("search") != -1;
    var user = User.Identity.Name;
}


<div class="header-block">

    @if (!searchResult)
    {
        <a href="/Tasks" class="@((myList) ? "active" : "")">Min lista</a>
        <a href="/Tasks/member" class="@((!myList) ? "active" : "")">Inbjudna listor</a>
    }
    else
    {
        <a href="#" class="active">Sök resultat</a>
    }


    @if (myList && !searchResult)
    {
        <a class="btn btn-outline-primary" href="/NewTask">Lägg till Uppgift</a>
    }
</div>


<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Namn</th>
            <th scope="col" width="350">Hantera</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int ind = 1;
            foreach (var m in Model)
            {

                var editLink = "'/EditTask/" + m.Id + "'";
                var viewLink = "'/ViewTask/" + m.Id + "'";
                var doneLink = "'DoneTask/" + m.Id + "'";
                var inviteLink = "'/InviteUsersToTask/" + m.Id + "'";
                var deleteLink = "'DeleteTask/" + m.Id + "'";

                <tr>
                    <th scope="row">@ind</th>
                    <td>@m.Name</td>
                    <td class="text-center">
                        <button class="btn btn-lg btn-outline-info" onclick="location.href = @viewLink">🔍</button>
                        @if (myList || (searchResult && user == m.Author.Id))
                        {
                            if (!m.Done)
                            {
                                <button class="btn btn-lg btn-outline-success" onclick="return handleData(@doneLink. 'PUT')">✔</button>
                            }
                            else
                            {
                                <button class="btn btn-lg btn-success" disabled="@m.Done">✔</button>
                            }
                            <button class="btn btn-lg btn-primary" onclick="location.href = @editLink">✎</button>
                            <button class="btn btn-lg btn-secondary" onclick="location.href = @inviteLink">📋</button>
                            <button class="btn btn-lg btn-danger" onclick="return handleData(@deleteLink, 'DELETE')">✖</button>
                        }
                        else
                        {
                            var userId = m.Members.FirstOrDefault(x => x.UserName == user).Id;
                            var deleteUserFromTask = "'DeleteUserFromTask/" + m.Id + "?userId=" + userId + "'";
                            <button class="btn btn-lg btn-danger" onclick="return handleData(@deleteUserFromTask, 'DELETE')">➖</button>
                        }
                    </td>
                </tr>
                ind += 1;
            }
        }
    </tbody>
</table>
@if (Model.Count() == 0)
{
    <div class="alert alert-info text-dark">Ingen uppgift har hittats ...</div>
}
